body{

    background-color: #003042;
    
}
.title{
    text-align: center;
    background-color: #5B3E55;
    border-color: 20px;
    color: white;
    
}

.title1{
    text-align: center;
    color: white;

}

.title2{
    text-align: center;
    color: white;

}

.title3{
    text-align: center;
    color: white;

}

.title4{
    text-align: center;
    color: white;

}


.parr1{
    text-align: center;
    background-color: #007F8D;
    width: 49%;


}

.parr2{
    text-align: center;
    background-color: #007F8D;
    width: 49%;

}

.parr3{
    text-align: center;
    background-color: #007F8D;
    width: 49%;

}

.parr4{
    text-align: center;
    background-color: #007F8D;
    width: 49%;

}